*{
  margin:0;
  padding:0;
  list-style-type: none;
  text-decoration: none;
}
body{
  height: 100%;
}
main{
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
header a{
  color:white;
}
.header_index{
  background-image: url(img/triangles.png);
  position: relative;
  border-bottom: 2px solid black;
  padding:1%;
  text-align: center;
  font-family: 'Prata', serif;
}
.header_index h1{
  text-align: center;
  color: white;
}
#form_autocomplete_header{
  position: absolute;
  width: 37%;
  height: 5vh;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 0;
}

.main_index{
  margin-top:10%;
  background-image: url("img/triangles.png");
  padding:5%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.input_index{
  font-size: 18px;
  width: 40%;
  padding:1% 5% 1% 3%;
  border-radius:30px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input:focus{
  outline:none;
}
::placeholder{
  font-size:18px;
}

/************** Page recherche ***************/
.main_recherche{
  margin-top:5%;
  margin-left:5%;
  min-height:60vh;
}
.main_recherche h2{
  font-size:20px;
  color: #0B1F9F;
  font-weight: bold;
  margin-top:2%;
}
.main_recherche p{
  width:50%;
  text-align: justify;
  margin-top:1%;
  line-height: 1.5em;
}
.main_recherche a{
  color: #964A80;
  margin-top:1%;
}
.main_recherche a:hover{
  text-decoration: underline;
}

/************* Page Element *******************/
#element_philosophe{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 4%;
    width: 75%;
    min-height:60vh;
}

#element_philosophe h2{
    font-size: 2em;
    margin-bottom:8%;
}

#element_philosophe p{
    background-color:rgb(143, 184, 222);
    border-radius: 15px;
    text-indent: 10%;
    line-height: 150%;
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/************* Footer *******************/
footer{
  margin-top:5%;
  width: 100%;
  background-color: #F2F2F2;
  padding:2% 0 2% 0;
  font-family: 'Roboto', sans-serif;
}
footer p{
  padding-left: 5%;
}
.footer_index{
  position:absolute;
  bottom:0;
}

/************* RESPONSIVE *******************/
@media screen and (max-width: 800px) /* Ecran entre mobile et réduction d'écran*/
{
  .header_index h1{
    text-align: left;
    margin-left: 2%;
  }

  .main_recherche p{
    width:75%;
    text-align: justify;
    margin-top:1%;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 500px) /*Ecran mobile*/
{
  .header_index{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_index h1{
    text-align: center;
  }
  .header_index #form_autocomplete_header{
    position: relative;
    align-self: center;
    width: 100%;
    height: 5vh;
    margin-top: 3%;
  }

  .main_index{
    margin-top:30%;
    background-image: url("img/triangles.png");
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .input_index{
    width: 60%;
  }

  .main_recherche p{
    width: 95%;
  }

  #element_philosophe{
    width: 90%;
  }
}
