*{
  margin:0;
  padding:0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body{
  height: 100%;
}
main{
  min-height: 100%;
}
.header_index{
  border-bottom: 2px solid black;
  padding:1%;
  text-align: center;
}
.main_index{
  margin-top:10%;
  background-image: url("img/triangles.png");
  padding:5%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.input_index{
  font-size: 18px;
  width:40%;
  padding:1% 5% 1% 3%;
  border-radius:30px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input:focus{
  outline:none;
}
::placeholder{
  font-size:18px;
}
/************** Page recherche ***************/
.main_recherche{
  margin-top:5%;
  margin-left:5%;
}
.main_recherche h2{
  font-size:20px;
  color: #0B1F9F;
  font-weight: bold;
}
.main_recherche p{

}
/************* Footer *******************/
footer{
  margin-top:5%;
  width: 100%;
  background-color: #F2F2F2;
  padding:2% 0 2% 0;
}
footer p{
  padding-left: 5%;
}
.footer_index{
  position:absolute;
  bottom:0;
}
